################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cs_backend/.vs/cs_backend/FileContentIndex
/cs_backend/.vs/cs_backend/DesignTimeBuild
/cs_backend/.vs/cs_backend/v17
/cs_backend/.vs/ProjectEvaluation
/cs_backend/bin
/cs_backend/obj
/cs_backend/appsettings.Production.json
/cs_backend/tempusfujit.db
/cs_backend/tempusfujit.db-shm
/cs_backend/tempusfujit.db-wal
